<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MiniProject_PRM392"
        tools:targetApi="31">
        <activity
            android:name=".Activities.MapActivity"
            android:exported="false" />
        <activity android:name=".Admin.AdminUpdateProductActivity" />
        <activity android:name=".Admin.AdminAddProductActivity" />
        <activity android:name=".Admin.AdminUpdateCateActivity" />
        <activity android:name=".Admin.AdminAddCateActivity" />
        <activity android:name=".Activities.CartActivity" />
        <activity
            android:name=".Activities.OnBoardingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.ShowAllActivity" />
        <activity android:name=".Activities.DetailedActivity" />
        <activity android:name=".Activities.RegistrationActivity" />
        <activity android:name=".Activities.MainActivity" />
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Admin.AdminCategoryActivity" />
        <activity android:name=".Admin.AdminProductActivity" />
        <activity android:name=".Admin.ActivityAdminMain" />
        <activity
            android:name=".Activities.Order_Payment"
            android:exported="true"
            android:label="Merchant Demo"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="app"
                    android:scheme="demozpdk" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.PaymentNotification"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCRbFngATSTOrDIUngqMkMu45GeEym4mSo" />
    </application>

</manifest>